<section id="come-say-hi">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Are You Ready to Start Coding? <br>Scholarship opportunity for underrepresented students</h2>
                    <span style="color:white; font-size:1.5em">GW Coders is excited to announce a scholarship opportunity for students from traditionally underrepresented groups in coding, who are interested in public interest research or career paths.  
<br><br>
                            <b>Scholarships:</b>  Three (3) credit hours of tuition for a coding course offered at GW in Fall 2021. Courses can be in Python, R, Java, or another coding language.  
<br><br>
        <b>Who is eligible:</b> Current GW students…<br>
(i) who have not taken prior coding courses, <br>
(ii) who are passionate about public interest research or career, <br>
(iii) who are female, and/or LBGQT, and/or from a non-STEM major, and/or registered with GW Disability Support Services, and/or member of one or more marginalized racial and ethnic group (Black/African American, Hispanic/Latino/Latina/Latinx, Native American/Alaskan, and Native Hawaiian/Pacific Islanders). Priority will be given to applicants representing multiple groups that are traditionally underrepresented in coding classes, though everyone is encouraged to apply.
<br><br></span>
                </div>
            </div>
            <div class="row">
                  <div class="col-lg-12 text-center">
                      <a href="https://forms.gle/1tfJnaST4cucwqRh8" target="_blank" class="btn btn-xl">Apply Today</a>
                  </div>
            </div>
        </div>
    </section>
<!--
<section id="come-say-hi">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Come Say Hi</h2>
                    <h3 class="section-subheading text-muted">We use GitHub to get coding help, talk about events, and share files. Join us there!</h3>
                </div>
            </div>
            <div class="row">
                  <div class="col-lg-12 text-center">
                      <a href="{{ site.github.issues_url }}" class="btn btn-xl">Talk With Us</a>
                  </div>
            </div>
        </div>
    </section>
-->
