<section id="learn">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Learn</h2>
        <h3 class="section-subheading text-muted">Here is a collection of free resources for learning a wide variety of coding techniques and skills</h3>
      </div>
    </div>
    <div class="col-lg-12">
      <ul>
        <li>
          <a class='eventTitle' href="https://github.com/alastairrushworth/free-data-science" target="_blank">Free data science resources</a>
          <div class='eventSub'>A list of high-quality resources for learning data science tools (R, Python, Shell, Git, Spark, Javascript, SQL, Docker, and more!)</div>
        </li>
        <li>
          <a class='eventTitle' href="https://software-carpentry.org/lessons/" target="_blank">Software Carpentry</a>
          <div class='eventSub'>Introductory lessons on various topics in computing for research.</div>
        </li>
        <li>
          <a class='eventTitle' href="https://github.com/gwu-libraries/python-learning-examples" target="_blank">GW Libraries python lessons</a>
          <div class='eventSub'>Project-based python learning hosted by GW Libraries</div>
        </li>
      </ul>
    </div>
  </div>
</section>



